.profile profile {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#primary-view {
    overflow: scroll;
    position: relative;
}

/*
Background Style
*/

.profile {
    width: 500px;
    height: 600px;
    margin: 160px auto 0;
    background-color: turquoise;
    border-radius: 15px;
    box-shadow: 0 3px 3px grey;
    font-size: 18px;
    margin-bottom: 130px;
}

.template {
    position: relative;
    text-align: center;
}

.profile .card {
    position: relative;
    text-align: center;
    height: 160px;
}

.profile .card .picture {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    position: absolute;
    transform: translate(-50%, 20%);
}

.header {
    padding-left: 15px;
    line-height: 15px;
}

.social-icon {
    width: 100px;
    height: 100px;
}